@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "SF Pro";
    src: url("./fonts/SFPro\ Regular.ttf")
}

body {
    font-family: sans-serif;
    font-size: 100%;
    color: black;
}

h1, h2, h3 {
    font-family: 'SF Pro';
}

p, * {
    font-family: Inter;
}

p {
    font-weight: 500;
}

h3 {
    font-weight: 600;
}

#main {
    padding: 2em;
}

.page {
    min-height: 100vh;
}

.btn-outline-primary {
    color: black;
    border: 2.5px solid black;
    font-weight: 700;
    transition: ease-out 200ms;
}

.btn-outline-primary:hover {
    background-color: black;
    color: white;
    border: 2.5px solid black;
    transition: ease-in 200ms;
}

.btn-outline-primary:hover img {
    fill: white !important;
    color: white !important;
}

.btn-outline-primary:active {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-primary {
    color: black;
    background-color: white;
    border: 2.5px solid black;
    font-weight: 700;
    transition: ease-out 200ms;
}

.btn-primary:hover {
    background-color: black;
    color: white;
    border: 2.5px solid black;
    transition: ease-in 200ms;
}

.btn-primary:hover img {
    fill: white !important;
    color: white !important;
}

.btn-primary:active {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-primary.active {
    background-color: black;
    color: white;
    border-color: black;
}

.nav {
    display: block;
    position: fixed;
    top: 0px;
    right: 0em;
    padding: 1em 0em 1em 0em;
    background-color: rgba(255, 255, 255, 0.904);
}

.nav a {
    margin-right: 18px;
}

#hi {
    margin-bottom: 0;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

a.active {
    border-bottom: 2px solid black;
}

.clear {
    clear: both;
}

#intro {
    padding-top: 80px;
}

#intro-image img {
    max-width: 220px;
    border-radius: 50%;
}

#intro-about {
    padding-left: 150px;
    text-overflow: clip;
}

h1 {
    font-weight: 700;
    font-size: 375%;
}

.work-arrow h2 {
    font-weight: 700;
    font-size: 250%; 
}

.link {
    padding: 1em;
    background-color: #60A9FF;
    overflow: visible;
    border-radius: 50%;
    width: 57px;
    margin-right: 1em;
}

.work-arrow {
    margin: 100px 0px 100px 0px;
}

.work-arrow:hover {
    cursor: pointer;
}

.work {
    border-radius: 5px;
    padding: 2em 2em 2em 2em;
    background-color: #E5E5E5;
    overflow-x: hidden;    
}

.work img {
    width: 700px;
}

.work-description p:last-of-type {
    margin-bottom: 0;
}

.works {
    margin-bottom: 2em;
}

.work .row {
    flex-wrap: nowrap!important;
}

.footer {
    background-color: black;
    color: white;
    padding: 1em;
}

.footer a {
    color: rgb(194, 194, 194) !important;
    font-weight: 400;
}

.footer .col-md-4 {
    margin-top: 1em;
}

figure {
    text-align: center;
}

figure img {
    max-width: 600px;
    padding: 0.5em;
}

.article {
    border-radius: 5px;
    border: 2px solid black;
    padding: 1em;
}

.repo {
    border-radius: 5px;
    border: 2px solid black;
}

.col-md-6 {
    margin-bottom: 2em;
}

.links {
    margin-bottom: 2em;
}

.links a {
    margin-right: 0.25em;
}

.git-header {
    padding: 0.5em 0.5em 0em 0.5em;
}

.git-header p {
    margin-bottom: 0.5em;
}

.git-files {
    clear: both;
}

.git-file {
    border-top: 1px solid gray;
    padding: 0.25em;
}

.git-file p {
    margin-bottom: 0;
}

#links a {
    margin-bottom: 0.25em;
}

#go-back {
    margin-top: 2em;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
}

@media screen and (max-width: 1350px){
    #intro-about {
        padding-left: 0px;
    }
}

@media screen and (max-width: 850px){
    .links {
        padding-left: 0px;
    }

    #links a {
        margin-bottom: 0.25em;
    }

    #linkedin {
        display: none;
    }
}

@media screen and (max-width: 768px){
    #intro-about {
        padding-right: 0px;
    }

    #links {
        padding-right: 0px;
    }
}


@media screen and (max-width: 500px){
    #nav a {
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media screen and (max-width: 380px){
    .work img {
        max-height: 165px;
        height: auto;
    }

    #eqpt-button {
        margin-top: 0.8em;
    }
}

@media only screen and (max-width: 1350px) {
    figure img {
        max-width: 500px;
        height: auto;
    }

    .page {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 1250px) {
    figure img {
        max-width: 500px;
    }
}

@media only screen and (max-width: 1050px) {
    figure img {
        max-width: 450px;
    }
}

@media only screen and (max-width: 950px) {
    figure img {
        max-width: 400px;
    }

    .page {
        width: 80%;
        margin: auto;
    }
} 

@media only screen and (max-width: 875px) {
    figure img {
        max-width: 375px;
    }
} 

@media only screen and (max-width: 615px) {
    figure img {
        max-width: 325px;
    }
}

@media only screen and (max-width: 600px) {
    figure img {
        max-width: 290px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
       background-color: #0D0E13;
       color: #fff;
    }

    .article {
        border-color: white;
    }

    .article a {
        color: white;
        transition: ease-out 200ms;
    }

    .article a:hover h5 {
        opacity: 70%;
        color: #60A9FF;
        transition: ease-in 200ms;
    }

    .nav {
        background-color: rgba(24, 24, 24, 0.781);
    }

    .nav a {
        color: white;
    }

    .btn-outline-primary {
        color: white;
        border-color: white;
    }

    .btn-outline-primary:hover {
        background-color: white;
        color: black;
        border-color: white;
    }
    
    .btn-outline-primary:hover img {
        fill: black !important;
        color: black !important;
    }
    
    .btn-outline-primary:active {
        background-color: white;
        color: black;
        border-color: white;
    }

    .work-arrow svg {
        stroke: white;
    }

    a.active {
        border-color: white;
    }

    a {
        color: white;
    }

    .work {
        background-color: #13141a;
    }

    .repo {
        border-color: white;
    }

    .git-file svg {
        fill: white;
    }

    .git-file #file {
        fill: none;
    }

    body::-webkit-scrollbar {
        width: 10px;
    }
    
    body::-webkit-scrollbar-track {
        background: #0D0E13;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 20px;
        border: 3px solid #0D0E13;
    }
}